/* Structural Pseudo-classes------------------ */

/* Target the li that's the first child of its parent */
li:first-child {
	background: #52bab3;
	color: white;
}

li:last-child {
	border: none;
}

/* Target spans that are the only child of their parent element */
span:only-child {
	color: #52bab3;
	font-size: 1.5em;
}

/* Target li's that have no content or children */
li:empty {
	background: tomato;
}