USE [replace_with_your_database_name]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 4/22/2015 5:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] NOT NULL,
	[VendorId] [int] NULL,
	[ContactType] [nvarchar](10) NULL,
	[Gender] [char](1) NULL,
	[FirstName] [nvarchar](30) NULL,
	[LastName] [nvarchar](30) NULL,
	[Email] [nvarchar](60) NULL,
	[Address1] [nvarchar](128) NULL,
	[Address2] [nvarchar](128) NULL,
	[City] [nvarchar](50) NULL,
	[PostalCode] [varchar](10) NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Contacts] ([ContactId], [VendorId], [ContactType], [Gender], [FirstName], [LastName], [Email], [Address1], [Address2], [City], [PostalCode], [Created], [Modified]) VALUES (1, 1, N'Client', N'F', N'Jerry', N'Hampton', N'xxhr.fldcxomfg@afbi.btyfoi.net', N'51 Green First Freeway', N'147 Rocky Fabien St.', N'Colorado', N'06141', CAST(0x00007993005B7781 AS DateTime), CAST(0x0000541A004A92B9 AS DateTime))
INSERT [dbo].[Contacts] ([ContactId], [VendorId], [ContactType], [Gender], [FirstName], [LastName], [Email], [Address1], [Address2], [City], [PostalCode], [Created], [Modified]) VALUES (2, 2, N'Prospect', N'F', N'Holly', N'Christian', N'bbvztm@atqlyx.-hrcfr.com', N'758 White Nobel Boulevard', N'78 First Parkway', N'Shreveport', N'29600', CAST(0x000067B8006BDA80 AS DateTime), CAST(0x00007EBE0044365E AS DateTime))
INSERT [dbo].[Contacts] ([ContactId], [VendorId], [ContactType], [Gender], [FirstName], [LastName], [Email], [Address1], [Address2], [City], [PostalCode], [Created], [Modified]) VALUES (3, 3, N'Client', N'F', N'Veronica', N'Bradley', N'lvntk.msbvt@ubaxra.com', N'88 North Hague Parkway', N'520 North Rocky New Drive', N'Arlington', N'59713', CAST(0x00006A9A015434AF AS DateTime), CAST(0x000052FC00AAD5DC AS DateTime))
GO
