@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css";
@import "font-awesome.min.css";


/* Basic Gray/Styled Table */
table.gray a:link,
table.gray a:visited
{
  color: #666;
  font-weight: bold;
  text-decoration:underline;
}
/*
    table.gray a:visited {
      color: #999999;
      font-weight:bold;
      text-decoration:none;
    }
*/
table.gray a:active,
table.gray a:hover
{
  color: #bd5a35;
  text-decoration:underline;
}
table.gray {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  /*margin:20px;*/
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table.gray th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table.gray th:first-child {
  text-align: left;
  padding-left:20px;
}
table.gray tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table.gray tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table.gray tr {
  text-align: center;
  padding-left:20px;
}
table.gray td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
table.gray td {
  padding:5px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table.gray tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.gray tr:last-child td {
  border-bottom:0;
}
table.gray tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table.gray tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table.gray tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

/* Styling for a table of data made a heading column on left and details on right */
table.detail-list {
  border-collapse: collapse;
  background-color: rgba(255,255,255,.3);
  width: 100%;
}
table.detail-list>tbody>tr>td:last-child {
  background-color: rgba(247,238,207,.7);
  padding: 10px;
  border-bottom: 1px solid #AAA;
  width: 80%;
}
table.detail-list>tbody>tr>td:first-child {
  background-color: #56A717;
  background-color: rgba(96,153,79,1);
  color: #FFF;
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px;
  text-align: right;
  width: 20%;
}

table.gray {
  width: 98%;
}
.apps-pager.top {
  margin-bottom: 5px;
}
.apps-pager.bottom {
  margin-top: 5px;
}
#search-sort {
  margin: 10px 20px 15px 20px;
}
#search-sort input[type="text"] {
  padding: 5px;
  font-size: 1em;
}
.pager-container {
  /*margin: 0 20px;*/
  padding: 0;
}
span.sortup {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-left: 5px;
  background-image: url('/images/dnnSpinnerUpArrow.png');
  background-repeat: no-repeat;
}
span.sortdown {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-left: 5px;
  background-image: url('/images/dnnSpinnerDownArrow.png');
  background-repeat: no-repeat;
}


/* small AJAX Loading image */
span.loading-small {
  display: inline-block;
  height: 12px;
  width: 24px;
  background: url(../img/loading24x12.gif);
}
/*
span.search {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../img/glyphicons-halflings.png) ;
  background-position: -49px 2px;
}
span.reset {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../img/glyphicons-halflings.png) ;
  background-position: -215px -22px;
}
*/
.button-edit {
  background-image: url('/Portals/0/icons/16/pencil.png');
  background-repeat: none;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.button-save {
  background-image: url('/Portals/0/icons/16/save.png');
  background-repeat: none;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.button-cancel {
  background-image: url('/Portals/0/icons/16/cancel.png');
  background-repeat: none;
  display: inline-block;
  height: 16px;
  width: 16px;
}

span.search:hover,
span.reset:hover,
.button-edit:hover,
.button-save:hover,
.button-cancel:hover {
  cursor: pointer;
}
