h1 {
	color: #000000;
}

h2 {
	color: #4B0082;
}

h3 {
	color: #FF1493;
}

/* 

HEXADECIMAL - Base 16: 0-9 and A-F (F is the highest)

The "#" is called an octothorpe. 

First two letters - how much red
Second two letters - how much green
Third two letters - how much blue 

*/